MONGODB_URI=mongodb://localhost:27017/dreamfashion
IMGBB_API_KEY=your_imgbb_key
NEXT_PUBLIC_APP_URL=https://hakim.qzz.io

# Groq AI Configuration (Ultra-Fast Free Models)
GROQ_API_KEY=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
GROQ_BASE_URL=https://api.groq.com/openai/v1
GROQ_MODEL=llama-3.3-70b-versatile
