# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Dependencies
node_modules
dist
dist-ssr
.output
.next
out

# Environment variables
.env
.env*
.env.local
.env.production
.env.development

# Editor
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store

# Vercel & Wrangler
.vercel
.wrangler

# Binaries & APKs
*.apk

# Subprojects
Classic-World/
